.generateButton{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* margin-left: 50%; */
    background-color: black;
    color: #ddd;
}