.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 2px;
  width: 90vw;
  height: 90vw;
  margin: auto;

  max-height: 70vh;
  max-width: 70vh;
}

.grid-cell {
  width: 8vw;
  height: 8vw;
  max-height: 7vh;
  max-width: 7vh;
  font-size: larger;
  font-weight: bold;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Easy{
  background-color: rgb(203, 242, 222);
}
#Moderate{
  background-color: rgb(189, 226, 180);
}
#Average{
  background-color: rgb(230, 242, 203);
}
#Advanced{
  background-color: rgb(239, 233, 172);
}
#Master{
  background-color: rgb(237, 189, 179);
}

.cellinput {
  width: 7vw;
  height: 7vw;
  max-height: 5vh;
  max-width: 5vh;
  border: none;
}
.changed {
  color: blue;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.wrong {
  color: red;
}
.success{
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  max-width: 90%;
  margin: auto;
  border-radius: 20px;
}
#solution{
  color: black;
}
