.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 2px;
  width: 90vw;
  height: 90vw;
  margin: auto;

  max-height: 80vh;
  max-width: 80vh;
}

.grid-cell {
  width: 9vw;
  height: 9vw;
  max-height: 8vh;
  max-width: 8vh;
  font-size: larger;
  font-weight: bold;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellinput {
  background-color: #ddd;
  display: block;
  margin: auto;
  width: 8vw;
  height: 8vw;
  max-height: 7vh;
  max-width: 7vh;
  border: none;
}
.changed {
  margin-top: 5px;
  color: blue;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.wrong {
  color: red;
}
